.add-product-btn {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    z-index: 10;

    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.2);
}

.products-section {
    @media screen and (max-width: 769px) {
        justify-content: center;
        align-items: center;
    }
}